@font-face {
    font-family: EVVA;
    src: url("../fonts/EVAA.ttf");
    /*src: local(Ubuntu);*/
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-L.ttf");
    /*src: local(Ubuntu);*/
}

:root {
    --title-font: EVVA, Helvetica, sans-serif;
    --content-font: Ubuntu, "Open Sans", sans-serif;
    --monospace-font: "Fira Mono", monospace;
    --hedding-font-size: 3vw;
    --navs-font-size: 1.3vw;
    --content-font-size: 1.5vw;
    --sub-content-font-size: 1.2vw;
    --font-weight-reg: 400;
    --font-weight-bold: 600;
    --black: #000;
    --gray-1: #191a1c;
    --gray-2: #323538;
    --gray-3: #4c4f54;
    --gray-4: #656a70;
    --gray-5: #7f858d;
    --gray-6: #9a9ea5;
    --gray-7: #b4b8bc;
    --gray-8: #d0d2d5;
    --gray-9: #ebecee;
    --gray-10: #f3f4f6;
    --white: #fff;
    --input-background-light: #fff;
    --input-background-dark: #232323;
    --input-border-light: #b4b8bc;
    --input-border-dark: #262e42;
    --input-placeholder-color: #656a70;
    --site-max-width: 1288px;
    --column: 5.46875%;
    --gutter: 3.125%;
    --full-column: 8.59375%;
    --default-blue: #1563ff;
    --green: #00bc7f;
    --purple: #5e3aed;
    --pink: #c62a71;
    --gray: #7c8797;
    --blue: #00acff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.80);
    padding: 0;
    margin: 0;
    border-bottom: white 0.02vw solid;
}

a, h1, h2 {
    font-family: var(--title-font);
    color: var(--white);
}

h3, h4, h5 {
    font-family: var(--content-font);
    font-weight: bolder;
    color: var(--white);
}

a:hover {
    color: var(--purple);
}

.content {
    font-family: var(--content-font);
    color: var(--white);
    font-size: var(--content-font-size);
}

.special {
    color: var(--blue) !important;
    font-weight: bold;
    filter: grayscale(0%);
}

.special2 {
    /*border-bottom: solid 0.2em var(--purple);*/
    font-weight: bolder;
}

@media (min-aspect-ratio: 6/5) {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        display: grid;
        background-color: var(--black);
        grid-template-areas: "navbar" "showcase" "about" "games" "locations" "praise" "footer";
        grid-template-rows: [nav] 10vh [show] 75vh [about] 60vh [games] 70vh [location] 75vh [praise] 70vh [footer] 70vh;
    }

    a {
        font-size: var(--navs-font-size);
        font-weight: bold;
    }

    /*~~~~~~~~~~~~~~~Pre-Loader~~~~~~~~~~~~~~~~~*/
    .pre-loader {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.96);
    }

    .spinner-position {
        width: 100%;
        height: 100%;
        /*padding: 40vh 0 0 38vw;*/
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .lds-dual-ring {
        position: absolute;
        content: " ";
        display: block;
        width: 25vh;
        height: 25vh;
        border-radius: 50%;
        border: 5px solid #fff;
        border-color: transparent #fff transparent #fff;
        animation: lds-dual-ring 4s linear infinite;
    }

    .lds-dual-ring-small {
        position: absolute;
        content: " ";
        display: block;
        height: 20vh;
        width: 20vh;
        border-radius: 50%;
        border: 5px solid #fff;
        border-color: var(--blue) transparent var(--blue) transparent;
        animation: lds-dual-ring-small 2s linear infinite;

    }

    @keyframes lds-dual-ring {
        0% {
            opacity: 0.20;
            transform: rotate(0deg);
        }
        50% {
            opacity: 1;
            transform: rotate(110deg);
        }

        75% {
            opacity: 1;
            transform: rotate(200deg);
        }
        100% {
            opacity: 0.20;
            transform: rotate(360deg);
        }
    }

    @keyframes lds-dual-ring-small {
        0% {
            opacity: 1;
            transform: rotate(0deg);
        }
        50% {
            opacity: 0.20;
            transform: rotate(110deg);
        }

        75% {
            opacity: 0.20;
            transform: rotate(200deg);
        }
        100% {
            opacity: 1;
            transform: rotate(360deg);
        }
    }

    /*~~~~~~~~~~~~~~~Pre-Loader~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~NavBar~~~~~~~~~~~~~~~~~*/
    #mynav {
        grid-area: navbar;
        opacity: 0;
        transition: all 0.8s ease-in-out;
    }

    .navbar {
        height: 10vh;
        display: grid;
        grid-template-areas: ".. logo .. navpills ..";
        grid-template-columns: 15vw 20vw 2vw 50vw 8vw;
        grid-template-rows: minmax(7vh, 10vh);
        transition: all 0.8s ease-in-out;
    }

    .navbar-brand {
        grid-area: logo;
    }

    .logo {
        padding-top: 5vw;
        width: 9vw;
        transition: all 0.6s ease-in-out;
    }

    .nav-pill-holder {
        grid-area: navpills;
    }

    .nav-item {
        padding-left: 2vw;
    }

    .navbar-min {
        height: 7vh;
    }

    .logo-min {
        margin: 0;
        padding: 0;
        transform: scale(0.33);
    }

    /*~~~~~~~~~~~~~~~NavBar~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~ShowCase~~~~~~~~~~~~~~~~~*/
    .showcase-div {
        grid-area: showcase;
        overflow: hidden;
    }

    .show-img-holder {
        z-index: -1;
        position: absolute;
        overflow: hidden;
    }

    .show-cards {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 20vh 70vw 20vh 10vw;
        padding: 6vh 4vh 4vh 4vh;
        border-radius: 5%;
    }

    .show-card-content {
        font-family: var(--content-font);
        color: var(--white);
        font-size: var(--sub-content-font-size);
    }

    /*~~~~~~~~~~~~~~~Showcase~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~About~~~~~~~~~~~~~~~~~*/
    .about-div {
        grid-area: about;
        padding: 5vh;
    }

    .about-holder {
        display: grid;
        grid-template-areas: "heading heading heading" "underline underline underline" "content content content" ".. .. .." "card1 card2 card3";
        grid-template-rows: min-content 5vh 5vh 10vh 20vh;
        grid-template-columns: repeat(3, 33.3%);
        height: 100%;
    }

    .about-head {
        grid-area: heading;
        text-align: center;
    }

    .about-img {
        grid-area: img;

    }

    .about-content {
        text-align: center;
        grid-area: content;
    }

    .about-card {
        padding: 3vh 5vh 5vh 5vh;

    }

    .card1 {
        grid-area: card1;
    }

    .card2 {
        grid-area: card2;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    .card3 {
        grid-area: card3;
    }

    .about-card-content {
        padding-top: 2.5vh;
        font-size: var(--sub-content-font-size);
        font-family: var(--content-font);
        color: var(--white);
    }

    /*~~~~~~~~~~~~~~~About~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~Games~~~~~~~~~~~~~~~~~*/
    .games-div {
        grid-area: games;
        padding: 5vh 5vh 5vh 5vh;
        background-color: var(--gray-1);
        overflow: hidden;
    }

    .games-holder {
        display: grid;
        grid-template-areas: "heading" ".." 'images';
        grid-template-rows: min-content 4vh 50vh;
    }

    .games-head {
        grid-area: heading;
        text-align: center;
        color: black;
    }

    .game-title-holder {
        grid-area: images;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .game-title {
        position: relative;
        background: no-repeat center center;
        background-size: cover;
        transition: all 0.15s ease-in-out;

    }

    .game-title:hover {
        z-index: 9;
        transform: scale(1.2);
        filter: grayscale(100%);

    }
    .game-desc {
        padding-left: 1vw;
        height: min-content;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        transition: all 0.1s ease;
    }

    .game-title .game-desc {
        visibility: hidden;
    }

    .game-title:hover .game-desc {
        visibility: visible;
    }

    /*~~~~~~~~~~~~~~~Games~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~Location~~~~~~~~~~~~~~~~~*/
    .location-div {
        grid-area: locations;
        background-color: var(--black);
        padding: 5vh;
    }

    .loc-holder {
        display: grid;
        grid-template-areas: "head" "map";
        grid-template-rows: 10vh 65vh;
    }

    .loc-head {
        width: 100%;
        text-align: center;
    }

    .loc-map {
        grid-area: map;
        position: relative;
        overflow: hidden;
    }

    .map {
        position: relative;
    }

    .mapTooltip {
        position: absolute;
        background-color: #474c4b;
        moz-opacity: 0.70;
        opacity: 0.70;
        filter: alpha(opacity=70);
        border-radius: 10px;
        padding: 10px;
        z-index: 1000;
        max-width: 200px;
        display: none;
        color: #fff;
    }

    /*~~~~~~~~~~~~~~~Location~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~Praise~~~~~~~~~~~~~~~~~*/
    .praise-div {
        grid-area: praise;
        padding: 5vh;
        position: relative;
        overflow: hidden;
        /*background:linear-gradient(90deg,var(--purple),var(--blue));*/
        background-color: var(--gray-1);
    }

    /*.praise-div::before {*/
    /*content: "";*/
    /*width: 1440px;*/
    /*height: 470px;*/
    /*background: linear-gradient(90deg, var(--gray-1), var(--black));*/
    /*position: absolute;*/
    /*bottom: -30vh;*/
    /*right: 60vh;*/
    /*-webkit-transform: skewY(30deg);*/
    /*transform: skewY(30deg);*/
    /*}*/
    .praise-holder {
        display: grid;
        grid-template-areas: "heading" ".." "content" "logos";
        grid-template-rows: min-content 4vh 5vh 50vh;
        height: 100%;
    }

    .praise-head {
        grid-area: heading;
        text-align: center;
    }

    .praise-content {
        text-align: center;
        grid-area: content;
    }
    .praise-logo-holder{
        grid-area: logos;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 2vw;

    }
    .praise-logos{
        align-self: center;
        width: 100%;
    }
    /*~~~~~~~~~~~~~~~Praise~~~~~~~~~~~~~~~~~*/
    /*!*~~~~~~~~~~~~~~~Users~~~~~~~~~~~~~~~~~*!*/
    /*.user-div {*/
    /*grid-area: users;*/
    /*background-color: white;*/
    /*padding: 5vh;*/
    /*}*/
    /*.user-holder {*/
    /*}*/
    /*!*~~~~~~~~~~~~~~~Users~~~~~~~~~~~~~~~~~*!*/
    /*~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~*/
    .footer-div {
        grid-area: footer;
        padding: 15vh 30vh 5vh 30vh;
        height: 100%;
        background-color: var(--black);
    }

    .footer-holder {
        height: 100%;
        padding: 5vh 10vh 5vh 10vh;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
        display: grid;
        grid-template-areas: "" "" "";

    }

    .logo-holder {
        padding: 4vh 5vh 5vh 5vh;
    }

    .footer-logo {
        width: 15rem;
    }

    /*~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~*/

}

@media (max-aspect-ratio: 6/5) {

}
